.elements {
    display: grid;
    grid-template-columns: 1fr;
    padding: 36px 0 0;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .elements {
        grid-template-columns: repeat(2, min-content);
        column-gap: 17px;
        justify-content: center;
    }
}

@media screen and (min-width: 1280px) {
    .elements {
        grid-template-columns: repeat(3, min-content);
        padding: 51px 0 0;
    }
}

