/*vendor*/

@import url(./vendor/normalize.css);
/* @import url(./fonts/inter/fonts.css); */

/*root*/

@import url(./blocks/root/root.css);

/*header*/

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

/*profile*/

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__photo/profile__photo.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__add-btn/profile__add-btn.css);
@import url(./blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(./blocks/profile/__case/profile__case.css);
@import url(./blocks/profile/__info-case/profile__info-case.css);
@import url(./blocks/profile/__avatar-case/profile__avatar-case.css);
@import url(./blocks/profile/__avatar-change/profile__avatar-change.css);

/*elements*/

@import url(./blocks/elements/elements.css);

/*element*/

@import url(./blocks/element/element.css);
@import url(./blocks/element/__like/element__like-section.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like/_active/element__like_active.css);
@import url(./blocks/element/__case/element__case.css);
@import url(./blocks/element/__trash/element__trash.css);
@import url(./blocks/element/__likesCount/element__likesCount.css);

/*popup*/

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__exit/popup__exit.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__btn/popup__btn.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/_scale-image/popup_scale-image.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__content-image/popup__content-image.css);
@import url(./blocks/popup/__subtitle/popup__subtitle.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__exit-img/popup__exit-img.css);
@import url(./blocks/popup/__input/_red-error/input_red-error.css);
@import url(./blocks/popup/__input/__input-error/popup__input-error.css);
@import url(./blocks/popup/__btn/__btn-inactive/popup__btn-inactive.css);

/*footer*/

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);
